<!DOCTYPE html>
<html>
    <head>
        <title>Art Name</title>
        <!-- Bring in our stylesheet -->
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body id="app">
        <div class="navbar">
            <div class="navbar-left">
                <div class="buttons"></div>
                <a href="/" class="text-6xl">The Art Mart</a>
            </div>
            <div class="buttons">
                <a v-if="loggedIn" href="/upload">
                    <div class="upload">
                        <img src="/img/upload.png">
                    </div>
                </a>
                <a v-if="loggedIn" href="/profile">
                    <div class="profile icon">
                        <img src="/img/profile.png">
                    </div>
                </a>
                <a v-if="loggedIn" href="/cart">
                    <div class="cart">
                        <img src="/img/cart.png">
                    </div>
                </a>
                <a v-if="loggedIn" href="/setting">
                    <div class="cart">
                        <img src="/img/settings.png">
                    </div>
                </a>
                <a v-if="!loggedIn" href="/login">
                    <div class="text-2xl">
                        Login
                    </div>
                </a>
                <a v-if="loggedIn" href="/logout">
                    <div class="text-2xl">
                        Logout
                    </div>
                </a>
            </div>
        </div>

    <div class="artDisplay flex">
        <div class="pl-20 py-10 flex-none">
            <img id="imageDisplay" width="800px">
        </div>
        <div class="artDescription m-8">
            <div class="h1">
                <p class="text-6xl" id="piece"><strong>Artwork</strong></p>
                <br>
                <p class="text-6xl text-right" id="artistName"><i>Artist</i></p>
            </div>
            <div class="Description">
                <p class="pt-3 text-2xl" id="description">
                    This piece is for demo purposes only and will not be sold on the real site. 
                    This piece is for demo purposes only and will not be sold on the real site. 
                    This piece is for demo purposes only and will not be sold on the real site.
                    This piece is for demo purposes only and will not be sold on the real site. 
                    This piece is for demo purposes only and will not be sold on the real site. 
                    This piece is for demo purposes only and will not be sold on the real site.
                    <br>
                    <br>
                </p>
                <div class="Price and Cart">
                    <p class="text-6xl pr-8" id="price">
                        <strong id="priceValue">$300.00</strong>
                        <div id="buttonGroup" class="text-right my-12 w-full">
                            <button onclick="location = '/error'" class="btn-primary inline w-3/12">Add to Cart</button>
                        </div>
                    </p>
                </div>
                
            </div>
            
        </div>
        
    </div>
    </body>
</html>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="/js/artwork.js" type="module"></script>
