
<!DOCTYPE html>
<html>


    <head>
        <meta charset="utf-8">
        <title>Login + Firebase Database</title>
         <!-- Cool Google Fonts -->
       
        <!-- Our stylesheet -->
        <link rel="stylesheet" href="stylesheets/styles.css">

        <!-- update the version number as needed -->
    
    <!-- include only the Firebase features as you need -->
    
    </head>
    <body>

      <div class="navbar">
        <div class="navbar-left">
                <div class="buttons">
                    <a href="http://localhost:3000/login">
                        <div class="backarrow">
                            <img src="img/backarrow.png">
                        </div>
                    </a>
                </div>
            <p class="text-6xl">The Art Mart</p>
        </div>

    </div>
        <div class = "wrapper">
            <h1>Create Account</h1>
            <form onsubmit="signup(event)">
                <div>
                    <input type = "text" name="" id="firstname" placeholder="firstname">
                </div>

                <div>
                    <input type = "text" name="" id="lastname" placeholder="lastname">
                </div>
                <div>
                    <input type = "email" name="" id="email" placeholder="email">
                </div>
                <div>
                    <input type = "password" name="" id="password" placeholder="password">
                </div>

                <button id="signupinp" value="Sign up">Sign up</button>
            </form>
        </div>
        
        

    </body>

    <script src="http://localhost:3000/scripts/createAccount.js" type = "module"></script>
</html>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
   
    <!-- Our script must be loaded after firebase references -->