<!DOCTYPE html>
<html>

<head>
    <title>Create Account | The Art Mart</title>
    <!-- Bring in our stylesheet -->
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body id="login">
    <div class="navbar">
        <div class="navbar-left">
            <div class="buttons"></div>
            <p class="text-6xl">The Art Mart</p>
        </div>

    </div>

    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>

    <div id="loginContent" class="grid grid-cols-3 grid-gap-4">
        <div></div>
        <div id="loginCard" class="card mt-12 m-auto w-96 px-8">
            <h1 class="my-8">Create Account</h1>

            <form class="mt-4">
                <input type="text" id="name" class="mb-1" placeholder="Name">
                <input type="text" id="email" class="mb-1" placeholder="Email">
            </form>
            
            <form class="mt-4">
                <input v-model="newPassword" id="password" type="password" class="mb-1" placeholder="Password">
                <input v-model="newPasswordConfirm" id="confirmPassword" type="password" class="mb-1" placeholder="Confirm Password">
            </form>


            <div id="buttonGroup" class="text-right my-12 w-full">
                <button @click="createAccount()" class="btn-primary inline">Create Account</button>
            </div>
        </div>
    </div>
</body>

<!-- This uses petite-vue. Front end logic is here -->
<script src="js/createAccount.js" type="module"></script>

</html>