<!DOCTYPE html>
<html>

<head>
    <title>Error | The Art Mart</title>
    <!-- Bring in our stylesheet -->
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-left">
            <div class="buttons"></div>
            <a href="/" class="text-6xl">The Art Mart</a>
        </div>
    </div>


    <div class="w-full grid grid-cols-6">
        <div class="col-start-3 col-span-2 mt-16 text-center">
            <h1>Uh oh! Something Went Wrong!</h1>
            <button onclick="location = '/'" class="btn-default mx-auto">Go home</button>
        </div>
    </div>

</body>

</html>