<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <!-- Bring in our stylesheet -->
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body id="login">
    <div class="navbar">
        <div class="navbar-left">
            <div class="buttons"></div>
            <p class="text-6xl">The Art Mart</p>
        </div>

    </div>

    <div id="loginContent" class="grid grid-cols-3 grid-gap-4">
        <div></div>
        <div id="loginCard" class="card mt-12 m-auto w-96 px-8">
            <h1 class="my-8">Forgot Password</h1>

            <p>Enter your email and we'll send you a password reset link</p>

            <form class="mt-4">
                <input type="text" class="mb-1" placeholder="Email">
            </form>

            <div id="buttonGroup" class="text-right my-12 w-full">
                <button @click="sendPasswordResetEmail()" class="btn-primary inline">Send Link</button>
            </div>
        </div>
    </div>
</body>

<!-- This uses petite-vue. Front end logic is here -->
<script src="js/forgot.js" type="module"></script>

</html>