<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="stylesheets/styles.css">
    </head>
    
    <body>
        <div class="navbar">
            <div class="navbar-left">
                <p class="text-6xl">The Art Mart</p>
            </div>
            <div class="navbar-right">
                <div>Item 1</div>
                <div>Item 2</div>
                <div>Item 3</div>
            </div>
        </div>


        <div class="content">

        </div>
    </body>

</html>
