<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <!-- Bring in our stylesheet -->
        <link rel="stylesheet" href="stylesheets/styles.css">
    </head>
    
    <body>
        <div class="navbar">
            <div class="navbar-left">
                <p class="text-6xl">The Art Mart</p>
            </div>
        <div class="buttons">
            <a href="http://localhost:3000/upload">
                <div class="upload">
                    <img src="img/upload.png">
                </div>
            </a>
            <a href="http://localhost:3000/login">
            <div class="profile">
                <img src="img/profile.png">
            </div>
            </a>
            <a href="http://localhost:3000/cart">
            <div class="cart">
                <img src="img/cart.png">
            </div>
            </a>
        </div>
    </div>


        <div id="content" class="p-8">
            

            <div class="art1">
                <img src="img/test.png" class="w-full rounded-tr-3xl" alt="">
                <div class="p-2 border-2 w-full font-thin text-center rounded-bl-3xl border-black">
                    <div class="text-2xl whitespace-pre-wrap">Artwork</div>
                    <div class="text-2xl">Artist</div>
                    <div class="text-lg">$300</div>
                </div>
            </div>


        </div>
    </body>

    <!-- This uses petite-vue. Front end logic is here -->
    <script src="js/index.js" type="module"></script>

</html>
