<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <!-- Bring in our stylesheet -->
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<script>
    let loggedIn = JSON.parse(sessionStorage.getItem("loggedIn"));
</script>

<body id="app">
    <div class="navbar">
        <div class="navbar-left">
            <p class="text-6xl">The Art Mart</p>
        </div>
        <div class="buttons">
            <a v-if="loggedIn" href="/upload">
                <div class="upload">
                    <img src="img/upload.png">
                </div>
            </a>
            <a v-if="loggedIn" href="/profile">
                <div class="profile icon">
                    <img src="img/profile.png">
                </div>
            </a>
            <a v-if="loggedIn" href="/cart">
                <div class="cart">
                    <img src="img/cart.png">
                </div>
            </a>
            <a v-if="loggedIn" href="/setting">
                <div class="cart">
                    <img src="img/settings.png">
                </div>
            </a>
            <a v-if="!loggedIn" href="/login">
                <div class="text-2xl">
                    Login
                </div>
            </a>
            <a v-if="loggedIn" href="/logout">
                <div class="text-2xl">
                    Logout
                </div>
            </a>
        </div>
    </div>


    <!-- This will help with the img layout -->
    <!-- https://tailwindcss.com/docs/grid-column -->
    <div class="gallery">
        <a href="http://localhost:3000/art_page">
            <!-- TODO: Use the .card class for these -->
            <div class="w-80 mb-2">
                <img src="img/test.png" class="w-full rounded-tr-3xl" alt="">
                <div class="p-2 border-2 w-full font-thin text-center rounded-bl-3xl border-black">
                    <div class="text-2xl whitespace-pre-wrap">Artwork</div>
                    <div class="text-2xl">Artist</div>
                    <div class="text-lg">$300</div>
                </div>
            </div>
        </a>
        <a href="http://localhost:3000/art_page">
            <div class="w-80 mb-2">
                <img src="img/test.png" class="w-full rounded-tr-3xl" alt="">
                <div class="p-2 border-2 w-full font-thin text-center rounded-bl-3xl border-black">
                    <div class="text-2xl whitespace-pre-wrap">Artwork</div>
                    <div class="text-2xl">Artist</div>
                    <div class="text-lg">$300</div>
                </div>
            </div>
        </a>
        <a href="http://localhost:3000/art_page">
            <div class="w-80 mb-2">
                <img src="img/test.png" class="w-full rounded-tr-3xl" alt="">
                <div class="p-2 border-2 w-full font-thin text-center rounded-bl-3xl border-black">
                    <div class="text-2xl whitespace-pre-wrap">Artwork</div>
                    <div class="text-2xl">Artist</div>
                    <div class="text-lg">$300</div>
                </div>
            </div>
        </a>
        <a href="http://localhost:3000/art_page">
            <div class="w-80 mb-2">
                <img src="img/test.png" class="w-full rounded-tr-3xl" alt="">
                <div class="p-2 border-2 w-full font-thin text-center rounded-bl-3xl border-black">
                    <div class="text-2xl whitespace-pre-wrap">Artwork</div>
                    <div class="text-2xl">Artist</div>
                    <div class="text-lg">$300</div>
                </div>
            </div>
        </a>
    </div>

</body>

<!-- This uses vue. Front end logic is here -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/index.js" type="module"></script>

</html>