<!DOCTYPE html>
<html>

<head>
    <title>Login | The Art Mart</title>
    <!-- Bring in our stylesheet -->
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body id="login">
    <div class="navbar">
        <div class="navbar-left">
                <div class="buttons">
                    <a href="http://localhost:3000">
                        <div class="backarrow">
                            <img src="img/backarrow.png">
                        </div>
                    </a>
                </div>
            <p class="text-6xl">The Art Mart</p>
        </div>

    </div>

    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>

    <div id="loginContent" class="grid grid-cols-3 grid-gap-4">
        <div></div>
        <div id="loginCard" class="card mt-12 m-auto w-96 px-8">
            <h1 class="my-8">Login</h1>

            <form class="mt-4">
                <input type="text" id="email" class="mb-1" placeholder="Email">
                <input type="password" id="password" class="mb-1" placeholder="Password">
            </form>

            <p onclick="location = '/forgot'" class="underline text-right cursor-pointer mb-1">Forgot password?</p>

            <div id="buttonGroup" class="text-right my-12 w-full">
                <button onclick="location = '/createAccount'" class="btn-secondary inline mr-1 w-8/12">Create Account</button>
                <button @click="handleLogin()" class="btn-primary inline w-3/12">Login</button>
            </div>
        </div>
    </div>
</body>

<!-- This uses petite-vue. Front end logic is here -->
<script src="js/login.js" type="module"></script>

</html>