<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <!-- Bring in our stylesheet -->
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-left">
            <div class="buttons">
            <a href="http://localhost:3000">
                <div class="backarrow">
                    <img src="img/backarrow.png">
                </div>
            </a>
            </div>
            <p class="text-6xl">The Art Mart</p>
        </div>

    </div>


</body>

<!-- This uses petite-vue. Front end logic is here -->
<script src="js/login.js" type="module"></script>

</html>
