<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <!-- Bring in our stylesheet -->
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-left">
            <div class="buttons"></div>
            <p class="text-6xl">The Art Mart</p>
        </div>

    </div>

    <div id="loginContent" class="grid grid-cols-3 grid-gap-4">
        <div></div>
        <div id="loginCard" class="card mt-12 m-auto w-96 px-8">
            <h1 class="my-8">Login</h1>

            <form class="mt-4">
                <input type="text" class="mb-1" placeholder="Email">
                <input type="password" class="mb-1" placeholder="Password">
            </form>

            <p class="underline text-right cursor-pointer mb-1">Forgot password?</p>

            <div id="buttonGroup" class="text-right my-12 w-full">
                <button class="btn-secondary inline mr-1 w-8/12">Create Account</button>
                <button class="btn-primary inline w-3/12">Login</button>
            </div>
        </div>
    </div>


</body>

<!-- This uses petite-vue. Front end logic is here -->
<script src="js/login.js" type="module"></script>

</html>