<!DOCTYPE html>
<html>

<head>
    <title>Money | The Art Mart</title>
    <!-- Bring in our stylesheet -->
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-left">
            <div class="buttons">
                <a href="http://localhost:3000/setting">
                    <div class="backarrow">
                        <img src="img/backarrow.png">
                    </div>
                </a>
            </div>
            <a href="/" class="text-6xl">The Art Mart</a>
        </div>

    </div>
    
    <div class="card">
        <img src="/img/horse.jpg" alt="horse">
        <p>A whole horse</p>
        <p class="price">$100.00</p>

        <div id="paypal-button"></div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=AVQt2YmTHtv9D4FNUoEu46_udxibNV47rcqgww5ZjPqoylyE0cD9AWf7eETZZPP8LfZq35eGgd7VE0Jd&currency=USD"></script>

</body>

<script src="js/money.js" type="module"></script>

</html>