<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <title>Upload Image</title>
    <!-- Cool Google Fonts -->

    <!-- Our stylesheet -->
    <link rel="stylesheet" href="stylesheets/styles.css">

    <!-- update the version number as needed -->

    <!-- include only the Firebase features as you need -->

</head>

<body>

    <div class="navbar">
        <div class="navbar-left">
            <div class="buttons">
                <a href="http://localhost:3000/login">
                    <div class="backarrow">
                        <img src="img/backarrow.png">
                    </div>
                </a>
            </div>
            <a href="/" class="text-6xl">The Art Mart</a>
        </div>
    </div>

    <div class="grid grid-cols-3 grid-gap-4">
        <div></div>
        <div class="card mt-12 m-auto w-96 px-8">
            <h1 class="my-8">Upload Image</h1>
            <label>Image Name</label> <input type="text" id="namebox"> <label id="extlab"></label> <br><br>
            <img id="myimg"><label id="uploadProgress"></label><br><br>
            <label>Art Name</label> <input type="text" id="artName"><br><br>
            <label>Artist Name</label> <input type="text" id="artistName"><br><br>
            <label>Price</label> <input type="text" id="price"><br><br>
            <label>Product Description</label> <textarea id="description"></textarea><br><br>
            
    
            <button id="selectbtn" class="mb-1">Select Image</button>
            <button id="uploadbtn" class="mb-1">Upload Image</button>
            <button id="downloadbtn" class="mb-1">Download Image</button>
    
        </div>
    </div>

</body>

<script src="http://localhost:3000/scripts/upload.js" type="module"></script>

</html>
<!-- The core Firebase JS SDK is always required and must be listed first -->

<!-- Our script must be loaded after firebase references -->