/*
This is the main css stylesheet
It is compiled by tailwind into styles.css
Don't directly edit styles.css, because it will be overwritten
Instead, add things here

Run `npm run css` to compile css (will watch for changes as well)
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global settings */
:root {
  @apply selection:bg-orange-300;
}

@layer components {
  /* Components go here */
  

  .navbar {
    @apply flex justify-between items-center h-32 border-b-2 border-black;
  }

  .navbar-left {
    @apply ml-32;
  }

  .navbar-center {
    
  }

  .navbar-right {
    @apply mr-32 w-96 flex justify-between;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
  }

  .upload, .upload > img{
  height: 40px;
  border-radius: 15px;
  }

  .profile, .profile > img{
    height: 70px;
    border-radius: 50%;
  }

  .cart, .cart > img{
    height: 70px;
  }
}